@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ffb692;
  --primary-container: #ff7d33;
  --secondary: #dfc0b3;
  --background: #111318;
  --on-surface: #e2e2e8;
  --on-surface-variant: #dfc0b3;
  --surface-container: #1e2024;
  --outline: #584238;
  --surface-bright: #1a1a1a;
  --on-primary: #562000;
}